html,
body {
  margin: 0;
  padding: 10px 0 0 0;
  background: #111;
}
canvas {
  display: block;
  margin: auto;
  max-width: 800px;
  max-height: 700px;
  width: 100vw !important;
  height: 87.5vw !important;
}
